h1 {
    color: #4169E1;
    margin: 40px 25% 25px;
}

h2 {
    margin: 10px 25%;
    position: relative;
}

.welcomeParagraph {
    color: #fff;
    font-size: large;
    margin: 0 27% 40px;
}


/* Grid Styles */

.cardGrid {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
    max-width: 800px;
    width: 100%;
    margin: auto;
}

/* Card Styles */

.card {
    background-color: #fff;
    background-image: linear-gradient( to bottom, #121212, #000044);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-decoration: none;
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    width: 100%;
    max-height: 450px;
    height: 100%;
    margin-bottom: 30px;
}

.card:hover {
    transform: translateY(-10px);
    filter: grayscale(35%);
}

.card img{
    width: 100%;
    max-height: 240px;
    height: 100%;
    object-fit: cover;
}


.cardContent {
    border: 1px solid red ;
}

.cardContent h3 {
    color: #fff;
    margin: 20px;
    font-size: 24px;
}

.cardContent p {
    font-size: 1em;
    margin: 0 20px 20px;
    color: #fff;
}



/* Media Queries */

@media screen and (max-width: 830px) {

    .cardGrid {
        gap: 5px;
    }

    .card {
        width: 90%;
        margin: 0 auto;
    }
}


@media screen and (max-width: 700px) {

    h1, h2 {
        margin: 40px 5% 25px;
    }

    .welcomeParagraph {
        margin: 0px 7% 30px;
    }

    .cardGrid {
        grid-template-columns: 1fr;
        
    }

    .card {
        width: 90%;
        
    }


}

@media screen and (max-width: 550px) {

    h1, h2 {
        margin: 40px 3% 25px;
    }

    .welcomeParagraph {
        margin: 0px 7% 30px;
    }

    .cardGrid {
        grid-template-columns: 1fr;
    }

    .card {
        width: 90%;
        
    }

}